
.container{
	margin-left: 35%;
	padding-top: 5%;
}

h3{
	margin-left: 9%;
}

input{
	margin-left: 13%;
}
button{
	margin-left: 16%;
}
.container2 {
	border-style: solid;
	border-color: black;
	border-width: 2px;
	width: 39%;
	margin-top: 3%;
	background-color: #e5f2ff;
	margin-left: 25%;
}

#resultPoster {
	float: left;
	display: inline-block;
}

.resultHead {
text-align: center;
}

.resultSpace {
	padding-top: 10px;
	padding-bottom: 10px;
}