.container{
	margin-left: 35%;
	padding-top: 5%;
}

h4{
	margin-left: 8%;
}

input{
	margin-left: 9%;
}
button{
	margin-left: 12%;
}
.container2 {
	border-style: solid;
	border-color: black;
	border-width: 2px;
	width: 50%;
	margin-top: 3%;
	margin-left: 25%;
}

#resultPoster {
	float: left;
	display: inline-block;
}

.resultHead {
text-align: center;
}

.resultSpace {
	padding-top: 10px;
	padding-bottom: 10px;
}